:root {
  --basic-white: #fff;
  --alpha-white: rgba(255, 255, 255, 0.2);
  --less-alpha-white: rgba(255, 255, 255, 0.8);
  --basic-black: #323232;
  --basic-grey: #999999;
  --modal-white: #f8f7f4;
  --basic-button: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --hover-button: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --click-button: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --nav-list-hover: #fbded7;
  --nav-list-click: #f6b5a5;
  --nav-list-on-page: #d07058;
  --nav-catalog-click: #ededed;
  --nav-catalog-active: #696969;
  --link-hover: #ffbc9e;
  --link-click: #e84d37;
  --slider-hover: rgba(255, 255, 255, 0.4);
  --raspberry-color: #dc143c;
  --choco-color: #7f4e1e;
  --advantages-color: #f8facd;
  --new-post-color: #fad3a2;
  --mailing-grey: #5A5A5A;
  --darker-white: #FEFEFE;
  --link-hover-color: rgba(255, 188, 158, 0.3);
  --swamp-bg: #849D8F;
  --dark-blue-bg: #8996A6;
  --brown-bg: #9D8B84;
  --dark-link-click: rgba(232, 77, 55, 0.3);
  --box-shadow: rgba(172, 16, 0, 0.64);
  --text-shadow: rgba(160, 32, 11, 0.76);
  --box-shadow-active: #942718;
  --box-shadow-hover: rgba(0, 0, 0, 0.2);
  --shadow-price: rgba(49, 50, 53, 0.5);
}

a {
  text-decoration: none
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
  background: var(--swamp-bg);
}

.main-nav li {
  font-weight: bold;
  line-height: 18px;
}

.main-header a {
  color: var(--basic-white);
}

.main-nav-button {
  border-bottom: 1px solid var(--alpha-white);
  padding: 5.5px 14px;
}

.nav-on-page {
  border-color: transparent;
  background-color: var(--nav-list-on-page);
  border-radius: 26px;
}

.main-nav-button:hover {
  color: var(--basic-black);
  background: var(--basic-white);
  border-radius: 26px;
  border-color: transparent;
}

.main-nav-button:active {
  color: var(--basic-black);
  background: var(--nav-catalog-click);
  box-shadow: inset 0px 2px 1px var(--nav-catalog-active);
  border-radius: 26px;
  border-color: transparent;
}

.service-login, .service-cart {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.visually-hidden {
  display: none;
}

.slide-header {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.work-time p {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.work-time a {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}

.button {
  background: var(--basic-button);
  box-shadow: 0px 2px 2px var(--box-shadow);
  text-shadow: 0px 2px 5px var(--text-shadow);
  color: var(--basic-white);
}

.button:hover {
  background: var(--hover-button);
}

.button:active {
  background: var(--click-button);
  box-shadow: inset 0px 2px 2px var(--box-shadow-active);
}

.slide-button {
  border-radius: 70px;
  padding: 12px 40px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.slider-button {
  padding: 8.5px;
  border-radius: 50%;
  background: none;
  border: 2px solid var(--basic-white);
  margin-right: 8px;
  outline: none;
  cursor: pointer;
}

.slider-button:hover {
  background: var(--slider-hover);
}

.active-slide, .active-slide:hover {
  background: var(--basic-white);
  cursor: default;
}

.free-jam {
  background: var(--raspberry-color);
}

.free-chocolate {
  background: var(--choco-color);
}

.banner-header {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.banner-text {
  font-weight: bold;
  font-size: 18px;
}

.banner-button {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 13px 22px;
  border-radius: 70px;
}

.production-item:hover {
  background: var(--alpha-white);
  box-shadow: 0px 20px 20px var(--box-shadow-hover);
}

.production-price {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px var(--shadow-price);
}

.production-price span {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  text-shadow: 0px 1px 3px var(--shadow-price);
}

.production-link {
  font-weight: 500;
}

.production-button {
  padding: 12px 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 50px;
}

.white-link {
  color: var(--basic-white);
  border-bottom: 1px solid var(--alpha-white);
}

.white-link:hover, .white-link:active {
  color: var(--link-hover);
  border-bottom: 1px solid var(--link-hover-color);
}

.advantages {
  background: var(--advantages-color);
}

.advantages-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
}

.advantage-item {
  color: var(--basic-black);
}

.new-post-banner {
  background: var(--new-post-color);
  color: var(--basic-black);
}

.new-post-notify {
  font-weight: 500;
}

.new-post-header {
  border-bottom: 2px solid var(--basic-black);
  color: var(--basic-black);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.new-post-header:hover, .new-post-header:active {
  color: var(--link-click);
  border-bottom: 2px solid var(--dark-link-click);
}

.mailing {
  background: var(--modal-white);
}

.mailing-text {
  color: var(--mailing-grey);
}

.map {
  background: var(--darker-white);
  color: var(--basic-black);
  border-radius: 16px;
}

.how-to-find {
  font-size: 14px;
  line-height: 20px;
}

.how-to-find b {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.feedback-button {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 13px 28px;
  border-radius: 70px;
  text-shadow: 0px 2px 5px var(--text-shadow);
}

.footer-docs-item {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.footer-docs-item:nth-child(1) {
  font-weight: bold;
}

.footer-credits {
  font-size: 12px;
  line-height: 18px;
}

.lstyle-none {
  list-style: none;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
}

.catalog-header {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.back-arrow {
  margin-right: 16px;
}

.nav-arrow {
  display: inline-block;
}

.disabled {
  opacity: 0.2;
}

.nav-page {
  display: inline-block;
  padding: 4px 8.5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-right: 4px;
}

.nav-page:hover {
  background: var(--alpha-white);
  border-radius: 50%;
  cursor: pointer;
}

.nav-page a {
  color: var(--basic-white);
}

.page-active, .page-active:hover {
  color: var(--basic-black);
  background: var(--basic-white);
  border-radius: 50%;
  cursor: default;
}